@import url(./constants.css);

* {
  box-sizing: border-box;    
}

body, h1, h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {

}

@media (min-width: 768px) {
  .container {
    padding: 128px 76px;
  }

  body {
    background-color: var(--background-color);
  }

  .header_image {
    border-radius: 20px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 128px 352px;
  }
}

.header_image {
  width: 100%;
}

