@import url(./contants.css);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    color: var(--stone600);
    background-color: var(--stone100);
}

h1, h2, h3,
p, ul {
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--white);
}

@media (min-width: 768px) {
    .container {
        padding: 128px 76px;
    }
}

.header {

}

@media (min-width: 768px) {
    .header {
        padding: 40px;
    }
}

.header_img {
    width: 100%;
    max-height: 300px;
}

