@import url(./contants.css);

* {
    box-sizing: border-box;
}

.page {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    color: var(--stone600);
    background-color: var(--stone100);
}

@media (min-width: 768px) {
    .page {
        padding: 128px 76px;
    }
}

@media (min-width: 1280px) {
    .page {
        padding: 128px 352px;
    }
}

h1, h2, h3,
p, ul {
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--white);
}

@media (min-width: 768px) {
    .container {
        padding: 40px;
        border-radius: 1.5rem;
    }
}

.header {}

.header__image {
    width: 100%;
    /*object-fit: contain;*/
}

@media (min-width: 768px) {
    .header__image {
        border-radius: 0.75rem;
    }
}

.main {
    padding: 40px 32px;
}

@media (min-width: 768px) {
    .main {
        padding: 40px 0;
    }
}

.dish__name {
    margin-bottom: 1.5rem;
    font-family: var(--font-secondary);
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0;
    color: var(--stone900);
}

@media (min-width: 768px) {
    .dish__name {
        font-size: 2.5rem;
    }
}

.dish__description {
    margin-bottom: 2rem;
    font-family: var(--font-primary);
    line-height: 1.5;
    letter-spacing: 0;
    color: var(--stone600);
}

.preparation-time {
    padding: 1.5rem;
    border-radius: 0.75rem;
    background-color: var(--rose50);
}

.preparation-time__title {
    color: var(--rose800);
}
