@import url(./contants.css);

* {
    box-sizing: border-box;
}

.page {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    color: var(--stone600);
    background-color: var(--stone100);
}

@media (min-width: 768px) {
    .page {
        padding: 128px 76px;
    }
}

@media (min-width: 1280px) {
    .page {
        padding: 128px 352px;
    }
}

h1, h2, h3,
p, ul {
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--white);
}

@media (min-width: 768px) {
    .container {
        padding: 40px;
        border-radius: 1.5rem;
    }
}

.header {}

.header__image {
    width: 100%;
    /*object-fit: contain;*/
}

@media (min-width: 768px) {
    .header__image {
        border-radius: 0.75rem;
    }
}
